In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
website = 'https://www.cars.com/shopping/results/?stock_type=cpo&makes%5B%5D=mercedes_benz&models%5B%5D=&list_price_max=&maximum_distance=20&zip='

In [3]:
response = requests.get(website)

In [4]:
response.status_code

200

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')

In [6]:
results = soup.find_all('div', {'class' : 'vehicle-card'})

In [7]:


#len(results)

In [8]:
# Name
# Mileage
# Dealer Name
# Rating
# Rating Count
# Price

In [9]:
results[0].find('h2').get_text()

'2022 Mercedes-Benz E-Class E 350'

In [10]:
results[0].find('div', {'class':'mileage'}).get_text()

'1,755 mi.'

In [11]:
results[0].find('div', {'class':'dealer-name'}).get_text().strip()

"Walter's Mercedes-Benz of Riverside"

In [12]:
results[0].find('span', {'class':'sds-rating__count'}).get_text()

'4.9'

In [13]:
results[0].find('span', {'class':'sds-rating__link'}).get_text()

'(6,674 reviews)'

In [14]:
results[0].find('span', {'class':'primary-price'}).get_text()

'$57,040'

In [15]:
name = []
mileage = []
dealer_name = []
rating = []
review_count = []
price = []

for result in results:
    
    # name
    try:
        name.append(result.find('h2').get_text()) 
    except:
        name.append('n/a')
    
    # mileage
    try:
        mileage.append(result.find('div', {'class':'mileage'}).get_text())
    except:
        mileage.append('n/a')
    
    # dealer_name
    try:
        dealer_name.append(result.find('div', {'class':'dealer-name'}).get_text().strip())
    except:
        dealer_name.append('n/a')
        
    # rating
    try:
        rating.append(result.find('span', {'class':'sds-rating__count'}).get_text())
    except:
        rating.append('n/a')
    
    # review_count
    try:
        review_count.append(result.find('span', {'class':'sds-rating__link'}).get_text())
    except:
        review_count.append('n/a')
    
    #price 
    try:
        price.append(result.find('span', {'class':'primary-price'}).get_text())
    except:
        price.append('n/a')

In [16]:
# dictionary
car_dealer = pd.DataFrame({'Name': name, 'Mileage':mileage, 'Dealer Name':dealer_name,
                                'Rating': rating, 'Review Count': review_count, 'Price': price})

In [17]:
car_dealer

,Name,Mileage,Dealer Name,Rating,Review Count,Price
0,2022 Mercedes-Benz E-Class E 350,"1,755 mi.",Walter's Mercedes-Benz of Riverside,4.9,"(6,674 reviews)","$57,040"
1,2021 Mercedes-Benz Maybach S 580 4MATIC,"4,058 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"(5,342 reviews)","$169,890"
2,2020 Mercedes-Benz GLS 450 Base 4MATIC,"35,323 mi.",Mercedes-Benz of Edison,5.0,"(3,886 reviews)","$68,510"
3,2021 Mercedes-Benz AMG GLE 53 Base,"9,734 mi.",Mercedes-Benz of West Houston,4.7,(73 reviews),"$83,996"
4,2022 Mercedes-Benz AMG G 63 4MATIC,"2,591 mi.",Benzel-Busch Motor Car,4.5,"(5,215 reviews)","$211,923"
5,2019 Mercedes-Benz S-Class S 560,"14,773 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"(5,342 reviews)","$67,891"
6,2022 Mercedes-Benz GLS 450 4MATIC,"20,195 mi.",Mercedes-Benz of Edison,5.0,"(3,886 reviews)","$82,495"
7,2022 Mercedes-Benz AMG G 63 4MATIC,"3,533 mi.",Mercedes-Benz of Kansas City,4.7,(762 reviews),"$233,978"
8,2022 Mercedes-Benz AMG G 63 4MATIC,"8,192 mi.",Mercedes-Benz of Asheville,4.6,(257 reviews),"$219,992"
9,2020 Mercedes-Benz GLE 350 Base 4MATIC,"36,944 mi.",Autobahn Motors,4.8,(995 reviews),"$42,996"
10,2023 Mercedes-Benz AMG GLE 53 Base,"2,179 mi.",Mercedes-Benz of Hoffman Estates,4.6,"(1,180 reviews)","$99,999"
11,2019 Mercedes-Benz C-Class C 300 4MATIC,"52,154 mi.",Mercedes-Benz of Westmont,4.6,"(1,088 reviews)","$28,995"
12,2022 Mercedes-Benz AMG GLE 63 S,"2,848 mi.",Mercedes-Benz of Temecula,4.0,"(1,397 reviews)","$114,993"
13,2021 Mercedes-Benz GLS 450 4MATIC,"32,376 mi.",Mercedes-Benz of Natick,4.9,"(2,487 reviews)","$65,998"
14,2021 Mercedes-Benz GLE 450 AWD 4MATIC,"16,862 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"(5,342 reviews)","$67,892"
15,2020 Mercedes-Benz S-Class S 560 4MATIC,"12,870 mi.",Mercedes-Benz of Hoffman Estates,4.6,"(1,180 reviews)","$92,999"
16,2020 Mercedes-Benz GLS 450 Base 4MATIC,"13,663 mi.",Mercedes-Benz of Hoffman Estates,4.6,"(1,180 reviews)","$72,999"
17,2020 Mercedes-Benz E-Class E 350,"19,600 mi.",House of Imports,4.7,"(1,729 reviews)","$38,933"
18,2021 Mercedes-Benz AMG E 53 Base 4MATIC,"6,405 mi.",Mercedes-Benz of San Francisco / Smart Center ...,n/a,(62 reviews),"$69,987"
19,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"9,908 mi.",Mercedes-Benz of Shrewsbury,4.6,(200 reviews),"$82,295"
20,2021 Mercedes-Benz S-Class S 580 4MATIC,"8,539 mi.",House of Imports,4.7,"(1,729 reviews)","$93,990"

In [18]:
#data cleaning
car_dealer['Review Count'] = car_dealer['Review Count'].apply(lambda x: x.strip('reviews)').strip('('))

In [19]:

# dataframe updated
car_dealer

,Name,Mileage,Dealer Name,Rating,Review Count,Price
0,2022 Mercedes-Benz E-Class E 350,"1,755 mi.",Walter's Mercedes-Benz of Riverside,4.9,"6,674","$57,040"
1,2021 Mercedes-Benz Maybach S 580 4MATIC,"4,058 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"5,342","$169,890"
2,2020 Mercedes-Benz GLS 450 Base 4MATIC,"35,323 mi.",Mercedes-Benz of Edison,5.0,"3,886","$68,510"
3,2021 Mercedes-Benz AMG GLE 53 Base,"9,734 mi.",Mercedes-Benz of West Houston,4.7,73,"$83,996"
4,2022 Mercedes-Benz AMG G 63 4MATIC,"2,591 mi.",Benzel-Busch Motor Car,4.5,"5,215","$211,923"
5,2019 Mercedes-Benz S-Class S 560,"14,773 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"5,342","$67,891"
6,2022 Mercedes-Benz GLS 450 4MATIC,"20,195 mi.",Mercedes-Benz of Edison,5.0,"3,886","$82,495"
7,2022 Mercedes-Benz AMG G 63 4MATIC,"3,533 mi.",Mercedes-Benz of Kansas City,4.7,762,"$233,978"
8,2022 Mercedes-Benz AMG G 63 4MATIC,"8,192 mi.",Mercedes-Benz of Asheville,4.6,257,"$219,992"
9,2020 Mercedes-Benz GLE 350 Base 4MATIC,"36,944 mi.",Autobahn Motors,4.8,995,"$42,996"
10,2023 Mercedes-Benz AMG GLE 53 Base,"2,179 mi.",Mercedes-Benz of Hoffman Estates,4.6,"1,180","$99,999"
11,2019 Mercedes-Benz C-Class C 300 4MATIC,"52,154 mi.",Mercedes-Benz of Westmont,4.6,"1,088","$28,995"
12,2022 Mercedes-Benz AMG GLE 63 S,"2,848 mi.",Mercedes-Benz of Temecula,4.0,"1,397","$114,993"
13,2021 Mercedes-Benz GLS 450 4MATIC,"32,376 mi.",Mercedes-Benz of Natick,4.9,"2,487","$65,998"
14,2021 Mercedes-Benz GLE 450 AWD 4MATIC,"16,862 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"5,342","$67,892"
15,2020 Mercedes-Benz S-Class S 560 4MATIC,"12,870 mi.",Mercedes-Benz of Hoffman Estates,4.6,"1,180","$92,999"
16,2020 Mercedes-Benz GLS 450 Base 4MATIC,"13,663 mi.",Mercedes-Benz of Hoffman Estates,4.6,"1,180","$72,999"
17,2020 Mercedes-Benz E-Class E 350,"19,600 mi.",House of Imports,4.7,"1,729","$38,933"
18,2021 Mercedes-Benz AMG E 53 Base 4MATIC,"6,405 mi.",Mercedes-Benz of San Francisco / Smart Center ...,n/a,62,"$69,987"
19,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"9,908 mi.",Mercedes-Benz of Shrewsbury,4.6,200,"$82,295"
20,2021 Mercedes-Benz S-Class S 580 4MATIC,"8,539 mi.",House of Imports,4.7,"1,729","$93,990"

In [20]:
#output in excel
car_dealer.to_excel('car_dealer_single_pages.xlsx', index=False)

In [21]:
#pagination
name = []
mileage = []
dealer_name = []
rating = []
review_count = []
price = []

for i in range (1,11):
    
    # website in variable
    website = 'https://www.cars.com/shopping/results/?page='+ str(i) +'&page_size=20&dealer_id=&list_price_max=&list_price_min=&makes[]=mercedes_benz&maximum_distance=20&mileage_max=&sort=best_match_desc&stock_type=cpo&year_max=&year_min=&zip=' 
    
    # request to website
    response = requests.get(website)
    
    # soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # results
    results = soup.find_all('div', {'class' : 'vehicle-card'})
    
    # loop through results
    for result in results:
    
        # name
        try:
            name.append(result.find('h2').get_text()) 
        except:
            name.append('n/a')

        # mileage
        try:
            mileage.append(result.find('div', {'class':'mileage'}).get_text())
        except:
            mileage.append('n/a')

        # dealer_name
        try:
            dealer_name.append(result.find('div', {'class':'dealer-name'}).get_text().strip())
        except:
            dealer_name.append('n/a')

        # rating
        try:
            rating.append(result.find('span', {'class':'sds-rating__count'}).get_text())
        except:
            rating.append('n/a')

        # review_count
        try:
            review_count.append(result.find('span', {'class':'sds-rating__link'}).get_text())
        except:
            review_count.append('n/a')

        #price 
        try:
            price.append(result.find('span', {'class':'primary-price'}).get_text())
        except:
            price.append('n/a')

In [22]:

# dictionary
car_dealer = pd.DataFrame({'Name': name, 'Mileage':mileage, 'Dealer Name':dealer_name,
                                'Rating': rating, 'Review Count': review_count, 'Price': price})

In [23]:
car_dealer

,Name,Mileage,Dealer Name,Rating,Review Count,Price
0,2022 Mercedes-Benz E-Class E 350,"1,755 mi.",Walter's Mercedes-Benz of Riverside,4.9,"(6,674 reviews)","$57,040"
1,2021 Mercedes-Benz Maybach S 580 4MATIC,"4,058 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"(5,342 reviews)","$169,890"
2,2019 Mercedes-Benz S-Class S 560,"14,773 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"(5,342 reviews)","$67,891"
3,2021 Mercedes-Benz AMG GLE 53 Base,"9,734 mi.",Mercedes-Benz of West Houston,4.7,(73 reviews),"$83,996"
4,2022 Mercedes-Benz AMG G 63 4MATIC,"8,192 mi.",Mercedes-Benz of Asheville,4.6,(257 reviews),"$219,992"
...,...,...,...,...,...,...
202,2020 Mercedes-Benz GLE 450 AWD 4MATIC,"41,816 mi.",Mercedes-Benz of North Olmsted,4.7,"(1,529 reviews)","$55,495"
203,2022 Mercedes-Benz AMG GLE 53 Base,"18,184 mi.",Fletcher Jones Motorcars of Fremont,4.7,"(1,218 reviews)","$86,984"
204,2019 Mercedes-Benz S-Class S 560,"24,056 mi.",House of Imports,4.7,"(1,729 reviews)","$85,391"
205,2022 Mercedes-Benz AMG GLE 53 Base,"8,558 mi.",Mercedes-Benz of Walnut Creek,4.5,"(1,011 reviews)","$87,486"
206,2021 Mercedes-Benz GLS 580 GLS 580,"21,912 mi.",Mercedes-Benz of Lynnwood,4.4,(130 reviews),"$94,250"

In [24]:
car_dealer['Review Count'] = car_dealer['Review Count'].apply(lambda x: x.strip('reviews)').strip('('))

In [25]:
car_dealer

,Name,Mileage,Dealer Name,Rating,Review Count,Price
0,2022 Mercedes-Benz E-Class E 350,"1,755 mi.",Walter's Mercedes-Benz of Riverside,4.9,"6,674","$57,040"
1,2021 Mercedes-Benz Maybach S 580 4MATIC,"4,058 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"5,342","$169,890"
2,2019 Mercedes-Benz S-Class S 560,"14,773 mi.",Fletcher Jones Motorcars - Newport Beach,4.9,"5,342","$67,891"
3,2021 Mercedes-Benz AMG GLE 53 Base,"9,734 mi.",Mercedes-Benz of West Houston,4.7,73,"$83,996"
4,2022 Mercedes-Benz AMG G 63 4MATIC,"8,192 mi.",Mercedes-Benz of Asheville,4.6,257,"$219,992"
...,...,...,...,...,...,...
202,2020 Mercedes-Benz GLE 450 AWD 4MATIC,"41,816 mi.",Mercedes-Benz of North Olmsted,4.7,"1,529","$55,495"
203,2022 Mercedes-Benz AMG GLE 53 Base,"18,184 mi.",Fletcher Jones Motorcars of Fremont,4.7,"1,218","$86,984"
204,2019 Mercedes-Benz S-Class S 560,"24,056 mi.",House of Imports,4.7,"1,729","$85,391"
205,2022 Mercedes-Benz AMG GLE 53 Base,"8,558 mi.",Mercedes-Benz of Walnut Creek,4.5,"1,011","$87,486"
206,2021 Mercedes-Benz GLS 580 GLS 580,"21,912 mi.",Mercedes-Benz of Lynnwood,4.4,130,"$94,250"

In [27]:
car_dealer.to_csv('car_deal.csv', index=False)